name: Checking code quality

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setting up Node.js
        uses: ./.github/actions/setup-node

      - name: npm install
        run: pnpm i

      - name: build
        run: pnpm run build

      - name: lint
        run: pnpm run lint

      - name: test
        run: pnpm run test:ci
