name: Publishing to npm
on:
  push:
    branches:
      - main
    tags:
      - "!*"
    paths:
      - 'package.json'

jobs:
  check-version:
    name: Checking whether it can be published or not
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setting up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Executing can-npm-publish
        run: npx can-npm-publish --verbose

  release:
    name: Releasing
    needs: check-version
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setting up Node.js
        uses: .github/actions/setup-node@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0

      - name: Installing dependencies
        run: pnpm i

      - name: Extract package-version
        run: |
          # shellcheck disable=SC2016
          node -p -e '`PACKAGE_VERSION=${require("./package.json").version}`' >> "$GITHUB_ENV"

      - name: package-version-to-git-tag
        uses: pkgdeps/git-tag-action@ef111413f44ebe5cc05994e7f5b5b9edaaada08d # v3.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_repo: ${{ github.repository }}
          version: ${{ env.PACKAGE_VERSION }}
          git_commit_sha: ${{ github.sha }}
          git_tag_prefix: "v"

      - name: Build package
        run: pnpm run build:publish

      - name: Publishing to npm
        run: pnpm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
